body{
  background-color: white;
  color: black;
}

.content{
  background: white;
  margin-top: 1%;
  padding: 1%;
}

.brand-logo-mobile{
 max-height: 50px;
}

.main-image{
  height: 75%;
  width: 75%;
  margin-top: 10%;
}

.call-to-action{
  text-align: center;
}

.office-contact{
  color: white;
}

.center-text{
  text-align: center;
}
